/* COLOR VARIABLES */

:root {
  --brown-body-text: #424230;
  --beige-link-text: rgba(235, 235, 209, 0.904);
  --brown-bg-color: #424230;
  --green-main: #0d612a;
  --blue-light: #0c8396;
  --beige-bg-color: rgba(235, 235, 209, 0.904);
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

footer {
 font-size: 0.85em;
 padding: 2rem 4rem 1rem 4rem;
 color: var(--brown-body-text);
}

/* NAVBAR STYLING */
.navbar {
  width: 100%;
  color: white;
  background-color: var(--green-main);
  position: fixed;
  z-index: 1;
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  top: 0;
  height: 55px;
  font-weight: 400;
}

.nav-title {
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  margin-left: 30px;
}

.nav-title--visible {
  visibility: visible;
}

.nav-title--hidden {
  visibility: hidden;
}

.nav-title:hover {
  color: var(--beige-link-text);
}

.nav-item {
  color: white;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  margin-right: 30px;
}

.nav-item:hover {
  color: var(--beige-link-text);
}

/* MOBILE MENU STYLING */
.mobile-menu-icon {
  color: white;
  display: none;
  cursor: pointer;
}

.mobile-menu-icon-bars {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 8px 0;
  transition: 0.3s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  -moz-transform: rotate(-45deg) translate(-9px, 6px);
  -o-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  -moz-transform: rotate(45deg) translate(-8px, -8px);
  -o-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.mobile-menu {
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  position: fixed;
  top: 55px;
  background: var(--blue-light);
  overflow: hidden;
  height: 0;
  -webkit-transition: height .2s ease-out;
  -moz-transition: height .2s ease-out;
  -o-transition: height .2s ease-out;
  transition: height .2s ease-out;
  text-align: left;
}

.mobile-menu-visible {
  height: 190px;
}

.mobile-menu-link {
  color: white;
  text-decoration: none;
  padding: 12px 30px;
  font-size: 0.75rem;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
  text-transform: uppercase;
}

.mobile-menu-link:hover {
  color: var(--beige-link-text);
}


/* SECTION STYLING */

.body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.welcome {
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  background: var(--green-main) url("images/pond-1.jpg") no-repeat center;
  color: white;
}

.welcome-content {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1em;
  border-radius: 0.25em;
}

.welcome-content-mainheading {
  font-size: 5rem;
  margin: 0 0 1rem 0;
  padding: 0;
  font-weight: 200;
}

.welcome-content-subheading {
  font-size: 2rem;
  margin: 1.5rem 0 1.5rem 0;
  font-weight: 100;
}

.community-message {
  font-size: 1rem;
  margin: 1.5rem 0 1.5rem 0;
  font-weight: 100;    
}

.welcome-content-hr {
  width: 48%;
  color: white;
}

.docs, .community {
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  /* justify-content: center; */
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem 4rem 1rem 4rem;
  width: 100%;
  color: var(--green-main);
}

.docs {
  background-color: var(--brown-bg-color)
}

.community {
  background-color: var(--beige-bg-color);
}

.community-info {
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: normal;
  -moz-box-align: normal;
  -ms-flex-align: normal;
  -webkit-align-items: normal;
  align-items: normal;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  /* justify-content: center; */
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem 2rem 1rem 2rem;
  width: 100%;
  color: black;
}

.community-description, .community-contacts {
  padding: 2em;
  margin: 5px;
  background-color: #FFFFFF;
  border-radius: .25em;
}

.community-description {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.community-description p {
  padding-top: 0;
  margin: 0;
  padding: 0;
}

.community-description p img {
  width: 15em;
  border-radius: .25em;
}
.community-description p .image-to-left {
  margin: 0 1em 0 0; 
  float: left;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.community-description p .image-to-right {
  margin: 0 0 0 1em; 
  float: right;
}

.community-description p {
  padding: 1em;
  font-size: 1.3em;
}

.community-contacts {
  flex: 1.5;
}

.community-contacts ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}


.community-mainheading, .docs-mainheading {
  color: var(--green-main);
  font-size: 5rem;
  margin: 0 0 1rem 0;
  padding: 0;
  padding-top: 55px;
  font-weight: 200;
}

.docs-mainheading {
  color: white;
}

.docs-categories {
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;  
  display: flex;
  width: 100%;
  margin: auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-grow: 1;
}

.docs-category {
  background: white;
  width: 48%;  
  padding: 5px;
  border-radius: .25em;
  margin-bottom: 20px;
  font-weight: 400;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 3px 3px rgba(0, 0, 0, 0.23);
}

.docs-category > h2 {
  text-align: center;
}

.docs-category > ul li {
  list-style-type: none;
  padding: 5px 0;
  color: var(--brown-body-text);
}

.docs-category > ul li a {
  color: var(--brown-body-text);
}

.docs-category > ul li a:hover {
  color: var(--green-main);
}
.map {
  display: -webkit-box; 
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex; 
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  /* justify-content: center; */
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem 4rem 1rem 4rem;
  width: 100%;
  color: var(--green-main);
}

.map-mainheading {
  font-size: 5rem;
  margin: 0 0 1rem 0;
  padding: 0;
  padding-top: 55px;
  font-weight: 100;
}

.map-responsive {
    width: 100%;
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.map-sign {
  margin-top: 20px;
  width: 100%;
  height: auto;
}


/* MEDIA QUERIES */

@media all and (max-width: 1150px) {
  .community-info {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

@media all and (max-width: 750px) {
  /* MOBILE  */
  .desktop-menu {
    display: none;
  }
  .mobile-menu-icon {
    display: block;
  }
  .welcome {
    padding: 4.5rem 1rem 2rem 1rem;
  }
  .welcome-content {
    flex-wrap: wrap;
  }
  .welcome-content-text {
    margin-right: 0;
  }
  .welcome-content-mainheading,
  .docs-mainheading, .community-mainheading,
  .map-mainheading {
    font-size: 2.5rem;
    margin: 0 0 1rem 0;
  }
  .welcome-content-subheading {
    font-size: 1.5rem;
    margin: 1rem 0 1rem 0;
  }

  .docs, .map, footer {
    padding: 1rem;
  }

  .docs-category {
    width: 100%;  
  }

}

@media all and (max-width: 480px) {
  .welcome-content-mainheading,
  .photos-content-mainheading {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
  }
  .welcome-content-subheading {
    font-size: 1rem;
    margin: .5rem 0 .5rem 0;
  }
  .community-message {
    font-size: .6rem;
    margin: .25rem 0 .25rem 0;
  }
  
  .docs-category > ul li {
    font-size: .8rem;  
  }
}
